@model IEnumerable<GreenDemic.Models.PersonViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-top:100px; padding-bottom:50px; text-align:center;">View Family Members</h1>

<div class="container-fluid" style="padding-left:30px;padding-right:30px;">
    <p>
        <a asp-action="Create">Add New Family Members</a>
    </p>
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaxCal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int here = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @{if (item.MaxCal == 0)
                                {
                                    @Html.DisplayFor(modelItem => item.DerivedMaxCal)
                                    here = 1;
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.MaxCal)
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="Delete" asp-controller="Person"
                               asp-route-id="@item.UserID">Delete </a><span>|</span>
                            <a asp-action="Edit" asp-controller="Person"
                               asp-route-id="@item.UserID">Edit </a><span>|</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    @section Scripts {
        <script>
            $('#myTable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 2 }
                ]
            });
            console.log(@here)
        </script>
    }

