@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid d-flex align-items-center justify-content-center" style="padding:2rem;height:100vh;">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-size:5vw;">GreenDemic</h1>
            <p style="font-size:1.5vw;">
                Today's food waste, tomorrow's shortage. GreenDemic helps you to keep track of your household food intake so you don't have to worry about overbuying food you don't need.
            </p>
            <a href="#features" class="form-group">
                <input type="submit" value="Learn More" class="btn" style="background-color: #6C826B; padding: 2% 5%; border-radius: 20px; color: white; font-size: 1.6vw;" />
            </a>
        </div>
        <div class="align-items-center justify-content-center" style="text-align:end; width:50%;">
            <img src="https://cdn.dribbble.com/users/973442/screenshots/5370348/grocery_shopping_eezy_rmpl-01_1x.jpg" />
        </div>
    </div>
</div>

<h1 class="container-fluid align-items-center justify-content-center" style="text-align: center; background-color: #6C826B; color: #fff; padding: 150px 90px; font-size: 8vw; margin-left: auto; margin-right: auto;">Our Features</h1>

<div class="container-fluid d-flex align-items-center justify-content-center" style="padding:7rem;" id="features">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="border-radius: 30px; padding: 40px; box-shadow: 0px 3px 15px rgba(0,0,0,0.1);">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                        <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                        <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z" />
                    </svg>
                    <h5 class="card-title" style="font-size: 2vw;">
                        Calculate your recommended calories
                    </h5>
                    <p class="card-text" style="font-size: 1.5vw;">Simply input your weight, height, birthday, gender and activity level to calculate the number of calories you need to consume, to maintain your weight.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 30px; padding: 40px; box-shadow: 0px 3px 15px rgba(0,0,0,0.1);">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                    </svg>
                    <h5 class="card-title" style="font-size: 2vw;">
                        Calculate calories of food you purchased
                    </h5>
                    <p class="card-text" style="font-size: 1.5vw;">Create new shopping bag and input the food item you bought. Try out our search feature where you can simply input the food name and we will fill up the calories for you. Magic!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 30px; padding: 40px; box-shadow: 0px 3px 15px rgba(0,0,0,0.1);">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
                    </svg>
                    <h5 class="card-title" style="font-size: 2vw;">
                        View monthly and yearly dashboard
                    </h5>
                    <p class="card-text" style="font-size: 1.5vw;">We hate looking at rows of numbers too... We got your back fam! GreenDemic gives you visual overviews of your calories such as the breakdown by categories and more. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="container-fluid" style="text-align: center; background-color: #6C826B; color: #fff; padding: 150px 90px; padding: 150px 90px; font-size: 8vw; margin-left: auto; margin-right: auto">Leaderboard</h1>

<div class="container-fluid" style="width:80%; padding:3rem 0;">
    <div class="card" style="border-radius: 30px; padding: 40px; box-shadow: 0px 3px 15px rgba(0,0,0,0.1);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 centralise align-items-center justify-content-center">
                    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_8udmnhsx.json" background="transparent" speed="1" style="width: 50%; height: 50%; margin-left: auto; margin-right: auto" loop autoplay></lottie-player>
                </div>
                <div class="col-md-8 centralise flex-column py-3" id="leaderboard-bg">
                    <div class="row centralise" id="1">
                        <div class="col-3 centralise">
                            <p style="font-family: 'Yeseva One', cursive; font-size:3vw;">#01</p>
                        </div>
                        <div class="col-5 centralise">
                            <p id="leaderboard-name-1" style="font-size: 1.95vw;"><b>@ViewData["FirstName"]</b></p>
                            <p id="leaderboard-points-1" style="font-size: 1.95vw;">@ViewData["FirstData"]</p>
                        </div>
                        <div class="col-4 centralise">
                            <img src="~/images/top-3-badge.png" style="width:25%;" />
                            @{
                                if (ViewData["Streak1"].ToString() == "1")
                                {
                                    <img src="~/images/12-health-badge.png" style="width: 25%;" />
                                }
                                if (ViewData["Badge1"].ToString() == "1")
                                {
                                    <img src="~/images/good-points-badge.png" style="width: 25%;" />
                                }
                                else if (ViewData["Badge1"].ToString() == "2")
                                {
                                    <img src="~/images/very-good-points-badge.png" style="width: 25%;" />
                                }
                                if (ViewData["Badge1"].ToString() == "3")
                                {
                                    <img src="~/images/excellent-points-badge.png" style="width: 25%;" />
                                }
                            }
                        </div>
                    </div>
                    <div class="row centralise">
                        <div class="col-3 centralise">
                            <p style="font-family: 'Yeseva One', cursive; font-size: 3vw;">#02</p>
                        </div>
                        <div class="col-5 centralise">
                            <p id="leaderboard-name-2" style="font-size: 1.95vw"><b>@ViewData["SecondName"]</b></p>
                            <p id="leaderboard-points-2" style="font-size: 1.95vw">@ViewData["SecondData"]</p>
                        </div>
                        <div class="col-4 centralise">
                            <img src="~/images/top-3-badge.png" style="width:25%;" />
                            @{
                                if (ViewData["Streak2"].ToString() == "1")
                                {
                                    <img src="~/images/12-health-badge.png" style="width: 25%;" />
                                }
                                if (ViewData["Badge2"].ToString() == "1")
                                {
                                    <img src="~/images/good-points-badge.png" style="width: 25%;" />
                                }
                                else if (ViewData["Badge2"].ToString() == "2")
                                {
                                    <img src="~/images/very-good-points-badge.png" style="width: 25%;" />
                                }
                                if (ViewData["Badge2"].ToString() == "3")
                                {
                                    <img src="~/images/excellent-points-badge.png" style="width: 25%;" />
                                }
                            }
                        </div>
                    </div>
                    <div class="row centralise">
                        <div class="col-3 centralise">
                            <p style="font-family: 'Yeseva One', cursive; font-size: 3vw;">#03</p>
                        </div>
                        <div class="col-5 centralise">
                            <p id="leaderboard-name-3" style="font-size: 1.95vw;"><b>@ViewData["ThirdName"]</b></p>
                            <p id="leaderboard-points-3"  style="font-size: 1.95vw;">@ViewData["ThirdData"]</p>
                        </div>
                        <div class="col-4 centralise">
                            <img src="~/images/top-3-badge.png" style="width:25%;" />
                            @{
                                if (ViewData["Streak3"].ToString() == "1")
                                {
                                    <img src="~/images/12-health-badge.png" style="width:25%;" />
                                }
                                if (ViewData["Badge3"].ToString() == "1")
                                {
                                    <img src="~/images/good-points-badge.png" style="width:25%;" />
                                }
                                else if (ViewData["Badge3"].ToString() == "2")
                                {
                                    <img src="~/images/very-good-points-badge.png" style="width:25%;" />
                                }
                                if (ViewData["Badge3"].ToString() == "3")
                                {
                                    <img src="~/images/excellent-points-badge.png" style="width:25%;" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener("resize", function () {
            if (window.matchMedia("(min-width: 500px)").matches) {
                var first = this.document.getElementById("1")[0]
                first.classList.add("bigFont");
            } else {
                first.classList.add("smallFont");
            }
        })
</script>
}

